@CHARSET "UTF-8";

.box1{

	width:100%;
	height:33%;
	text-align:center;
	
	vertical-align: middle;
	



}
.box2{

	width:100%;
	height:33%;
	
	text-align:center;
	
	vertical-align: middle;

}
.box3{

	width:100%;
	height:33%;
	
	text-align:center;

	
	vertical-align: middle;


}
html,body{
 height: 100%;

 }
.box1,.box2,.box3{
 	margin: 0;
 }
 h1{
	
	
 	
 }
.well{
	background-color:#40c1ff;
}